[submodule "assingment/task_3/nodejs/assingment/task_3/nodejs/animal-farm-nodejs"]
	path = assingment/task_3/nodejs/assingment/task_3/nodejs/animal-farm-nodejs
	url = https://github.com/manishakumariG/qoala-assingment.git
